<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586598997338-vgcmmm8i57oh9sb07tlasu6icoic0jok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586598997338-vgcmmm8i57oh9sb07tlasu6icoic0jok</string>
	<key>API_KEY</key>
	<string>AIzaSyCI-uLy70_YR0RtFbD1yF9kPjLU3C2IPZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>586598997338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.myntra</string>
	<key>PROJECT_ID</key>
	<string>myntra-38565</string>
	<key>STORAGE_BUCKET</key>
	<string>myntra-38565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586598997338:ios:c40b0245155244b68ce763</string>
</dict>
</plist>